.minicart-wrapper {
  position: relative;
}
.minicart-wrapper .overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #000;
  opacity: 0;
  transition: opacity 0.4s linear;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
.minicart-wrapper.open .overlay {
  opacity: 0.2;
  visibility: visible;
}
.minicart-wrapper .minicart {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  z-index: 2000;
  width: 50%;
  background: #fff;
  color: #000;
  padding: 2rem;
}
.minicart-wrapper.open .minicart {
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translateX(0);
}
.minicart-wrapper.close .overlay {
  opacity: 0;
  visibility: hidden;
}
.minicart-wrapper.close .minicart {
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translateX(100%);
}
.minicart-wrapper .minicart__header {
  position: relative;
  margin-bottom: 1rem;
}
.minicart-wrapper .minicart__header .close-button {
  background: none;
  border: none;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeD0iMS41NzIyNyIgeT0iMy4xMzM5NyIgd2lkdGg9IjE2IiBoZWlnaHQ9IjEiIHRyYW5zZm9ybT0icm90YXRlKDMwIDEuNTcyMjcgMy4xMzM5NykiIGZpbGw9ImJsYWNrIi8+CjxyZWN0IHg9IjAuNTcyMjY2IiB5PSIxMS4xMzQiIHdpZHRoPSIxNiIgaGVpZ2h0PSIxIiB0cmFuc2Zvcm09InJvdGF0ZSgtMzAgMC41NzIyNjYgMTEuMTM0KSIgZmlsbD0iYmxhY2siLz4KPC9zdmc+Cg==)
    0 0 no-repeat;
}
.minicart-wrapper .minicart form {
  display: grid;
  grid-auto-rows: calc(75% - 12px) 25%;
  height: 90%;
  grid-row-gap: 12px;
}
.minicart-wrapper .minicart__body {
  display: flex;
  flex-direction: column;
  position: relative;
}
.minicart-wrapper .minicart .cart-items {
  overflow-y: auto;
}
.minicart-wrapper .minicart .cart-items__item {
  display: grid;
  grid-template-columns: 20% calc(80% - 1rem);
  grid-column-gap: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid #f4f4f4;
}
.minicart-wrapper .minicart .cart-items__item:first-child {
  border-top: 1px solid #f4f4f4;
}
.minicart-wrapper .minicart .cart-items__details {
  padding-top: 1rem;
  display: grid;
  grid-template-areas:
    "title price"
    "details details"
    "picker remove";
  grid-template-columns: 4fr 1fr;
}
.minicart-wrapper .minicart .cart-items__details .price {
  grid-area: price;
  text-align: right;
  position: relative;
}
.minicart-wrapper .minicart .cart-items__details .price__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}
.minicart-wrapper .minicart .cart-items__details .price__original {
  opacity: 0.3;
  text-decoration: line-through;
}
.minicart-wrapper .minicart .cart-items__details .details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: details;
}
.minicart-wrapper .minicart .cart-items__details .quantity-picker {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  width: 75px;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-area: picker;
}
.minicart-wrapper .minicart .cart-items__details .quantity-picker__btn {
  background: none;
  border: none;
  cursor: pointer;
}
.minicart-wrapper .minicart .cart-items__details .remove-btn {
  background: none;
  border: none;
  cursor: pointer;
  grid-area: remove;
  text-align: right;
}
.minicart-wrapper .minicart__footer {
  overflow-y: auto;
}
.minicart-wrapper .minicart__footer-titleSection {
  display: grid;
  grid-template-columns: 80% 20%;
  margin-bottom: 0.5rem;
}
.minicart-wrapper .minicart__footer-titleSection .subtotal {
  text-align: right;
}
.minicart-wrapper .mini-cart__footer-buttonsSection {
  display: grid;
  grid-row-gap: 8px;
}

.cart-button {
  border: 1px solid;
  padding: 5px;
  text-align: center;
}
.minicart-wrapper .empty-cartnote {
  display: none;
  height: 100%;
  align-items: center;
  text-align: center;
}
.minicart-wrapper.empty .empty-cartnote {
  display: grid;
}
.minicart-wrapper .empty-cartnote > div {
  display: grid;
}
.minicart-wrapper.empty .cart-info,
.minicart-wrapper.empty form {
  display: none;
}
@media (max-width: 768px) {
  .minicart-wrapper .minicart {
    width: 100%;
  }
}
